image: node:18-alpine

stages:
  - test

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

install_dependencies:
  stage: test
  script:
    - npm install
    - echo "MONGODB_URI=mongodb://localhost:27017/taco-test" > .env.test
  artifacts:
    paths:
      - node_modules/
      - package-lock.json

test:
  stage: test
  needs:
    - install_dependencies
  script:
    - npm run test
  artifacts:
    reports:
      junit: test-results.xml
